#first {
    padding: 150px 10% 80px 10%;
}

.fasilitas {
    list-style: none;
}

.list-fasilitas {
    font-size: 20px;
}

.swimming {
    font-size: 28px;
    display: inline-flex;
}

.enjoy {
    font-size: 35px;
    font-weight: 400;
    color: #4A494E;
    margin-left: 40px;
    padding-top: 30px;
}

.more {
    margin-left: 40px;
    padding-right: 10px;
    margin-top: 20px;
    display: inline-flex;
    color: #758AAB;
}