#dining {
    padding: 80px 40px 80px 40px;
    background: #EFE8DD;


   
    }

.content-dining {
    background: url(https://res.cloudinary.com/lycoris/image/upload/v1556313943/asset/resto-lululala-1400x550_2x_bjtjc9.png) no-repeat center ;
    background-size: cover;
    height: 695px;
}

.menu-bar-dining {
    margin: 34px 0 33px 0;
    list-style: none;
    display: flex;

   
}
li {
    margin: 0 27px 0 0;
}


.img-dining-bawah {
    display: flex;
    margin: 20px 0 0 0;

   
}
.logo-dining-kanan {
    margin: 26px 0 0 0;
}
.dining-text {
    box-sizing: border-box;
    background: #ffff;
    width: 40% ;
    height: 70% ;
    float: right;
    bottom: 20px;
    position: relative;
    top: 210px;
    right: 40px;



        

    }