#tabs {
    padding: 80px 40px 80px 40px;
    background: #EFE8DD;
    }

.content-dining {
    background: url('../../Assets//img/14.jpg') no-repeat center ;
    background-size: cover;
    height: 695px;
}




.img-dining-bawah {
    display: flex;
    margin: 20px 0 0 0;

   
}
.logo-dining-kanan {
    margin: 26px 0 0 0;
}
.dining-text {
    box-sizing: border-box;
    background: #ffff;
    width: 40% ;
    height: 70% ;
    float: right;
    bottom: 20px;
    position: relative;
    top: 210px;
 

    }

    .body-dining {
        padding: 43px 29px 20px 32px;

    }

    #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #0062cc;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 1px solid !important;
    
        font-size: 16px;
        font-weight: bold;
    }
    #tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: black;
        font-size: 16px;
        font-weight: 600;
     
    }
    #tabs .nav-link:hover {
        border: none;
    }

    #tabs .nav-tabs{
        border-bottom: transparent;
    }

    .title-dining{
        text-align: center;
    }


