
.nav-link {
    color:white;
  }


.hidden-xs {
    margin-right: 10px;

}

.justify-content-end {
    margin-right: 3%;
}

.navbar-expand-lg .navbar-collapse {
    margin-right: 3%;
}

.ml-auto.navbar-nav {
    margin-right: 40px;
}

#header{
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;

}

.navbar-brand {
    margin-left: 5%;
}

.hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

#hero::before {
        content: "";
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

#hero{
        width: 100%;
        height: 100vh;
        background: url(../../Assets/img/first.png) top center;
        background-size: cover;
        position: relative;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: white !important;
       
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: grey !important;
        border-bottom: 1px solid !important;

        border-bottom-color: gray !important;
    }

    .nav-colored { background-color:#000; }
.nav-transparent { background-color:transparent;}

