#offers {
    padding: 80px 5% 80px 5%;
}
.box {
    position: absolute;
    color: #ffff;
    top: 52px;
    left: 50px;
    

}
#data {
    padding: 10px 70px 10px 110px;
    margin: 137px 0 0 0;
}
#button {
    display: flex;
    padding: 7px 30px 7px 30px;
    margin: 48px 165px 0 240px;
    background-color: #EFE8DD;
    border: none;
    border-radius: 2px;
}

.title {
    padding: 40px 30px 0 0;
}

.sub-title{
    margin-top: 30px;
}




h3 {

    margin: 0 0 40px 0;
    color: #4A494E;
}
h6 {

margin-right: 10px;
 
}

h2 {
    text-align: left;
}

.title-deskripsi-dua{
    vertical-align: top;
}

.sub-title-dua {
    margin-top: 0px;
}