#first-section {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../Assets/img/4.jpg') center;
    background-size: cover;
    width: 100%;
    height: auto;
  }

.col-satu{
    text-align: left; 
    padding-top: 100px;
}

.p-satu{
    text-align: left;
}

.col-dua{
    font-size: 80px;
    text-align: right; 
}

.col-tiga{
    text-align-last: right
}
