#meeting {
    padding: 0px 0 20px 0;

}

.content-meeting {
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
    url(../../Assets/img/15.jpg) ;
    background-size: cover;
    height: 739px;
    width: auto;
}

.container {
    padding: 300px 80px 60px 80px;
    text-align: center;
    color: #ffff;

}
h1 {
    font-weight: 400;
    font-size: 40px;
}

h4 {
    margin: 40px 0 20px 0;
    font-size: 24px;
}

p {
    font-size: 16px;
}

img {
    margin: 48px 0 0 0;
}

.more-arrow{

    display: inline;
}

.more-text {
    margin-top: 50px;
}