#facts {
    padding: 80px 80px 60px 80px;
    text-align: center;
}
h3 {
    font-size: 40px;
    color: #4A494E; 
}
.icon {
    margin-top: 30px;
}
.more-info {
    margin-top: 30px;
    color: #758AAB;
}