#facts {
    text-align: center;
    padding-bottom: 10%
}
.title {
    font-size: 40px;
    color: #4A494E; 
}
.icon {
    margin-top: 30px;
}
.more-info {
    margin-top: 30px;
    color: #758AAB;
}

.description{
    color: #4A494E;
}

.place {
    color: #4A494E;
}

.container-satu {
    padding: 10% 20% 1% 20%;
    
}